# Solution for Puzzle x

## Imports

In [2]:
import pandas as pd

## Input Data

In [3]:
input = pd.read_csv("input/day_5.csv", header=0)
print(f"Number of ranges: {len(input)}")
input.head(5)

Number of ranges: 1182

                               ids
0  316912306652712-320683419496855
1  157110396540658-158515545043416
2  413380390732509-413851343783550
3    45534978319107-45768124861513
4    13873831532241-16714933495213

In [10]:
ranges = input.iloc[:182]
ids = input.iloc[182:]

## Part One

In [6]:
number_valid_ids = 0
for id in ids["ids"].to_list():
    for r in ranges["ids"].to_list():
        start, end = r.split("-")
        start, end = int(start), int(end)
        if int(id) >= start and int(id) <= end:
            number_valid_ids += 1
            break

print(f"There are {number_valid_ids} valid ids.")

There are 739 valid ids.

## Part Two

In [13]:
ranges_combined = []
for r in ranges["ids"].to_list():
    start, end = r.split("-")
    start, end = int(start), int(end)
    ranges_combined.append((start, end))
ranges_combined.sort()

In [14]:
idx = 0
while idx < len(ranges_combined)-1:
    if ranges_combined[idx][1] >= ranges_combined[idx+1][0]:
        ranges_combined[idx] = (ranges_combined[idx][0], max(ranges_combined[idx][1], ranges_combined[idx+1][1]))
        ranges_combined.pop(idx+1)
    else:
        idx += 1

In [17]:
number_valid_ids = 0
for start, end in ranges_combined:
    number_valid_ids += (end-start+1)
print(f"There are {number_valid_ids} valid IDs")

There are 344486348901788 valid IDs