# Solution for Puzzle 3

## Imports

In [2]:
import pandas as pd

## Input Data

In [4]:
input = pd.read_csv("input/day_3.csv", header=0)
print(f"Number of banks: {len(input)}")
input.head(5)

Number of banks: 200

                                               banks
0  3443334373333545324339252335233845533545245422...
1  3433434334423225944433232334354334442333333924...
2  6445452443354336524556464436667635356536446542...
3  2522122122222222213514222332223223222122232532...
4  1222223242242124231221324122442244142124714212...

## Part One

In [ ]:
maximum_outputs = []
for bank in input["banks"]:

    # largest element so far
    current_max_second = bank[-1]

    # current maximum output
    current_max_output = -float("inf")

    # go through bank in reverse order and memorize max element so far
    for joltage in bank[-2::-1]:
        curr = int(joltage+current_max_second)
        if curr > current_max_output:
            current_max_output = curr
        if int(joltage) > int(current_max_second):
            current_max_second = joltage
    maximum_outputs.append(current_max_output)
    
print(f"The maximum total output is {sum(maximum_outputs)}.")

The maximum total output is 17452.

## Part Two

In [ ]:
def compute_output(joltages: list) -> int:
    """Function to compute total output from twelve joltages."""
    if len(joltages) != 12:
        raise ValueError("Input joltages must have 12 elements!")
    return int("".join(joltages))

maximum_outputs = []
for bank in input["banks"]:
    # last 12 joltages as first try
    current_max_output = list(bank[-12:])

    # go through bank in reverse order
    for joltage in bank[-13::-1]:

        # if new joltage larger than previous replace it and let old element sink through
        curr = joltage
        curr_idx = 0
        while curr_idx < 12 and int(curr) >= int(current_max_output[curr_idx]):
            next_curr = current_max_output[curr_idx]
            current_max_output[curr_idx] = curr
            curr = next_curr
            curr_idx += 1
    maximum_outputs.append(compute_output(current_max_output))

print(f"The maximum total output is {sum(maximum_outputs)}.")

The maximum total output is 173300819005913.