# Solution for Puzzle x

## Imports

In [7]:
import pandas as pd
import numpy as np

## Input Data

In [2]:
input = pd.read_csv("input/day_6.csv", header=None)
print(f"Number of ranges: {len(input)}")
input.head(5)

Number of ranges: 5

                                                   0
0   3 569  178 722 939 7238 4   474 61 4  36   32...
1   3 515  411  25 354  515 178 771 51 13 6251  3...
2   3 9758 27   34 568  315 268 291 94 93 2735  3...
3  56 6445 7     6 571  253 573 248 74 83 3289  9...
4  *  +    *   *   +   +    *   +   *  *  +    + ...

In [ ]:
# transform data
input_array = []

# Splitting the lines into the numbers and removing the spaces
for i in range(len(input)):
    input_array.append(np.array(list(filter(lambda x: x != "", input.iloc[i, 0].split(" ")))))

# Transpose so every row is one problem
input_array = np.array(input_array).T

## Part One

In [25]:
from numpy.ma import product


total = 0
for problem in input_array:
    numbers = [int(number) for number in problem[:-1]]
    operation = problem[-1]
    if operation == "+":
        total += sum(numbers)
    else:
        total += product(numbers)
print(f"The total is {total}")

The total is 6172481852142

## Part Two