# Solution for Puzzle x

## Imports

In [7]:
import pandas as pd
import numpy as np

## Input Data

In [89]:
input = pd.read_csv("input/day_6.csv", header=None)
print(f"Number of ranges: {len(input)}")
input.head(5)

Number of ranges: 5

                                                   0
0   3 569  178 722 939 7238 4   474 61 4  36   32...
1   3 515  411  25 354  515 178 771 51 13 6251  3...
2   3 9758 27   34 568  315 268 291 94 93 2735  3...
3  56 6445 7     6 571  253 573 248 74 83 3289  9...
4  *  +    *   *   +   +    *   +   *  *  +    + ...

In [43]:
# transform data
input_array = []

# Splitting the lines into the numbers and removing the spaces
for i in range(len(input)):
    input_array.append(np.array(list(filter(lambda x: x != "", input.iloc[i, 0].split(" ")))))

# Transpose so every row is one problem
input_array = np.array(input_array).T

## Part One

In [ ]:
total = 0
for problem in input_array:
    numbers = [int(number) for number in problem[:-1]]
    operation = problem[-1]
    if operation == "+":
        total += sum(numbers)
    else:
        total += np.ma.product(numbers)
print(f"The total is {total}")

The total is 6172481852142

## Part Two

In [90]:
def split_by_universal_spaces(df, line_col):
    """Split rows at common spaces to secure correct allignment."""
    lines = df[line_col].astype(str).tolist()
    L = len(lines[0])

    # Mask: True if all rows have a space at that position
    mask = [all(line[i] == " " for line in lines) for i in range(L)]

    splits = []
    i = 0
    while i < L:
        if mask[i]:
            j = i + 1
            while j < L and mask[j]:
                j += 1
            splits.append((i + j) // 2)
            i = j
        else:
            i += 1

    boundaries = [0] + splits + [L]

    # Slices extrahieren
    rows = [
        [line[a:b] for a, b in zip(boundaries, boundaries[1:])]
        for line in lines
    ]

    # als NumPy-Array und transponieren
    return np.array(rows).T

transformed_input = split_by_universal_spaces(input, 0)
transformed_input

array([[' 3', ' 3', ' 3', '56', '* '],
       [' 569 ', ' 515 ', ' 9758', ' 6445', ' +   '],
       [' 178', ' 411', ' 27 ', ' 7  ', ' *  '],
       ...,
       [' 216', ' 712', ' 348', ' 46 ', ' *  '],
       [' 883', ' 491', ' 132', ' 72 ', ' *  '],
       [' 741', ' 438', ' 241', ' 61 ', ' *  ']], dtype='<U5')

In [92]:
total = 0
for problem in transformed_input:
    rows = [number for number in problem[:-1]]
    max_length = len(rows[0])
    numbers = []
    for i in range(max_length):
        curr_number = ""
        for row in rows:
            if row[i] != " ":
                curr_number += row[i]
        if curr_number != "":
            numbers.append(int(curr_number))
    operation = problem[-1].strip()
    if operation == "+":
        total += sum(numbers)
    else:
        total += np.prod(numbers)
print(f"The total is {total}")

The total is 10188206723429