# Solution for Puzzle 2

## Imports

In [1]:
import pandas as pd

## Input Data

In [9]:
input = pd.read_csv("input/day_2.csv", sep=",", header=0)
print(f"Number of ranges: {len(input)}")
input.head(5)

Number of ranges: 28

                          ranges  Unnamed: 1
328412-412772          1610-2974         NaN
163-270                      NaN         NaN
7693600637-7693779967        NaN         NaN
352-586                      NaN         NaN
65728-111612                 NaN         NaN

## Part One