# Solution for Puzzle 2

## Imports

In [1]:
import pandas as pd

## Input Data

In [10]:
input = pd.read_csv("input/day_2.csv", sep=",", header=0)
print(f"Number of ranges: {len(input)}")
input.head(5)

Number of ranges: 29

                  ranges
0          328412-412772
1              1610-2974
2                163-270
3  7693600637-7693779967
4                352-586

In [12]:
input[['start', 'end']] = input['ranges'].str.split('-', expand=True).astype(int)
input.head(5)

                  ranges       start         end
0          328412-412772      328412      412772
1              1610-2974        1610        2974
2                163-270         163         270
3  7693600637-7693779967  7693600637  7693779967
4                352-586         352         586

## Part One

In [18]:
invalid_ids = []
for start, end in zip(input['start'], input['end']):

    # loop over all possible ids for this range
    for id in range(start, end+1):
        length_id = len(str(id))

        # must have even length and first half must be equal to the second half
        if (length_id % 2) == 0 and (str(id)[:length_id//2] == str(id)[length_id//2:]):
            invalid_ids.append(id)

print(f"Sum of invalid IDs is {sum(invalid_ids)}")

Sum of invalid IDs is 56660955519

## Part Two

In [23]:
invalid_ids = []
for start, end in zip(input['start'], input['end']):
    for id in range(start, end+1):
        length_id = len(str(id))

        # find all possible sequence lengths
        divisors = []
        for i in range(1, length_id//2+1):
            if length_id % i == 0:
                divisors.append(i)
        
        # check all possible sequence lengths
        for divisor in divisors:
            sequences = set()
            for i in range(0, length_id, divisor):
                sequences.add(str(id)[i:i+divisor])
            if len(sequences) == 1:
                invalid_ids.append(id)
                break
        
print(f"Sum of invalid IDs is {sum(invalid_ids)}")

Sum of invalid IDs is 79183223243